<a href="#{{appId}}/{{url}}">
    <span class="badge-circle pull-left">
        {{id}}
    </span>
    <div class="pull-left">
        <span class="step">
            {{name}}
        </span>
        <span class="wizard-description">
            {{name}}
        </span>
        <span class="wizard-arrow"></span>
    </div>
</a>
